*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #dedede;
  color: #333;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #447b2d;
  color: #fff;
  padding: 10px 0;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
}

header h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  color: white;
}

main {
  padding: 20px 0;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 20px;
  border-bottom: 2px solid darkgray;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

footer {
  background-color: darkgray;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.section-photo {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust spacing as needed */
}

.section-photo img {
  max-width: 100%; /* Ensure image does not exceed container width */
  border-radius: 10px; /* Rounded corners for the frame */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for the frame */
}
